<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
    <h1>Hi, {{ g.user.nickname }}!</h1><br>
	<form action="" method="post" name="post">
      {{ form.hidden_tag() }}
      <table>
          <tr>
              <td>Say something:</td>
              <td>{{ form.post(size=30, maxlength=140) }} <button  class="btn btn-info" type="submit"> Post</button></td>
              <td>
              {% for error in form.post.errors %}
              <span style="color: red;" class="text-danger"">[{{ error }}]</span><hr>
              {% endfor %}
              </td>
          </tr>
      </table>
  </form>
   {% for post in posts.items %}
<p>
  {% include 'post.html' %}
</p>
{% endfor %}
<ul class="pager">
{% if posts.has_prev %}<li class="previous"><a href="{{ url_for('index', page=posts.prev_num) }}">Previous</a></li>{% else %}<li class="previous disabled"><a href="#">Previous</a></li>{% endif %}
{% if posts.has_next %}<li class="next"><a href="{{ url_for('index', page=posts.next_num) }}">Next</a></li>{% else %}<li class="next disabled"><a href="#">Next</a></li>{% endif %} </ul>
{% endblock %}
