<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
<div style="padding:75px;background:white">
    <table>
        <tr>
            <td><img src="{{ user.avatar(220) }}" style="padding-left:5em"></td>
            <td>          
                <p style="font-size:60px;padding-left:2em" class="text-primary">User: {{ user.nickname }}</p>
                {% if user.about_me %}<p  class="text-info" style="padding-left:2em">     {{ user.about_me }}</p>{% endif %}
                {% if user.last_seen %}
<p style="padding-left:2em"><em  class="text-info">     Last seen: {{ momentjs(user.last_seen).calendar() }}</em></p>
{% endif %}
                <p style="padding-left:2em">followers <span class="badge">{{ user.followers.count() }}</span> | 
                {% if user.id == g.user.id %}
                    <a class="btn btn-info" href="{{ url_for('edit') }}">Edit</a>
                {% elif not g.user.is_following(user) %}
                    <a href="{{ url_for('follow', nickname=user.nickname) }}">Follow</a>
                {% else %}
                    <a href="{{ url_for('unfollow', nickname=user.nickname) }}">Unfollow</a>
                {% endif %}
                </p>
            </td>
        </tr>
    </table></div>
    <hr>
   {% for post in posts.items %}
    {% include 'post.html' %}
{% endfor %}
<ul class="pager">
{% if posts.has_prev %}<li class="previous"><a href="{{ url_for('user', nickname=user.nickname, page=posts.prev_num) }}">Previous</a></li>{% else %}<li class="previous disabled"><a href="#">Previous</a></li>{% endif %}
{% if posts.has_next %}<li class="next"><a href="{{ url_for('user', nickname=user.nickname, page=posts.next_num) }}">Next</a></li>{% else %}<li class="next disabled"><a href="#">Next</a></li>{% endif %} </ul>
{% endblock %}
